.action-tile {
    backdrop-filter: blur(25px);
}

#guide.focused .guide-carousel-background, #guide.focused:hover .guide-carousel-background {
    background-color: rgba(0, 0, 0, .2) !important;
    backdrop-filter: blur(25px) !important;
}

.lb-button.clicked, .lb-button.tv-component-focused, .guide-button {
    background-color: #282828 !important;
    border-top-color: #a6a6a6 !important;
    box-shadow: inset -1px 0 #3b3b3b, inset 1px 0 #2c2c2c !important;
}

.guide-button-icon {
    display: none
}

.guide-button-title {
    text-transform: uppercase !important;
}

#keyboard-grid.button {
    line-height: 1 !important;
    font-family: 'Roboto',Arial,Helvetica,sans-serif !important;
    text-shadow: 1px 1px #000 !important;
    color: #727171 !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    border: 0 !important;
    font-size: 100% !important;
    background: transparent !important;
    -webkit-box-sizing: border-box !important;
    display: inline-block !important;
    margin: 0.4em 0 0 0.65em !important;
    padding: 0.3em 0 !important;
    text-align: center !important;
    position: relative !important;
    width: 1.86em !important;
}

#guide-user-avatar {
    border-radius: 50% !important;
    box-shadow: 0 0 0 .05em rgba(239, 145, 145, .4), 0 0 .05em #ef9191 !important;
    display: inline-block !important;
    font-size: 2.31em !important;
    margin: .2em .2em .2em .4em !important;
}
.description {
    direction: ltr !important;
    margin: 0 !important;
    background: transparent !important;
    font: 12px arial,sans-serif !important;
    border: 1px solid !important;
    font-weight: bold !important;
    font-size: 11px !important;
    white-space: nowrap !important;
    word-wrap: normal !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    border-radius: 3px !important;
    text-shadow: 0 1px 0 #fff !important;
    background-color: #e0e0e0 !important;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%) !important;
    box-shadow: inset 0 0 1px #fff !important;
    color: #555 !important;
    float: right !important;
    border-left: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    height: 32px !important;
    padding: 0 .91em !important;
    border-color: #ccc !important;
    opacity: 1 !important;
    filter: none !important;
}

.youtube-logo {
    user-select: none !important;
    font-size: 119% !important;
    white-space: nowrap !important;
    background: no-repeat center !important;
    background-size: 40% !important;
    color: #fff !important;
    display: inline-block !important;
    height: 3em !important;
    padding-top: 0.9em !important;
    text-align: center !important;
    text-shadow: #000 0.08em 0.08em !important;
    vertical-align: middle !important;
    width: 5.2em !important;
    speak: none !important;
    cursor: default !important;
    opacity: 1 !important;
}
